.the-journeybound-ecosystem1 {
  width: 829px;
  height: 35px;
  position: relative;
  letter-spacing: 0.15em;
  font-family: "AG 10,191";
  text-align: left;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  z-index: 1;
}
.the-atrium1 {
  text-decoration: underline;
}
.the-atrium {
  color: inherit;
}
.journeybound-is-an-container {
  height: 38px;
  position: relative;
  line-height: 38px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.untitled-design-42-2 {
  height: 216px;
  width: 216px;
  position: absolute;
  margin: 0 !important;
  right: 130.5px;
  bottom: -134.7px;
  object-fit: cover;
  z-index: 1;
}
.blending-web3-token1 {
  flex: 1;
  position: relative;
  line-height: 38px;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.data-merger,
.filter-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.filter-list {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  text-align: left;
  font-size: 23.7px;
}
.data-merger {
  width: 1164px;
  flex-direction: column;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 10px;
  font-size: 23.8px;
}
.image-1-11 {
  width: 703.3px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.data-joiner-icon {
  width: 247.2px;
  height: 3.6px;
  position: absolute;
  margin: 0 !important;
  top: 0.6px;
  right: 31.2px;
  z-index: 1;
}
.error-collector {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.6px;
  background-color: rgba(121, 37, 255, 0.3);
  width: 100%;
  height: 100%;
}
.error-collector1 {
  box-shadow: 0 2.4px 21px rgba(121, 37, 255, 0.85);
  filter: blur(6px);
  border-radius: 9.6px;
  background-color: rgba(121, 37, 255, 0.08);
  border: 3px solid #7d2cfe;
  box-sizing: border-box;
  z-index: 2;
}
.data-splitter-x,
.error-collector1,
.error-collector2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.error-collector2 {
  box-shadow: 0 2.4px 21px rgba(121, 37, 255, 0.85);
  filter: blur(4.2px);
  border-radius: 9.6px;
  background-color: rgba(121, 37, 255, 0.08);
  border: 0.6px solid #7d2cfe;
  box-sizing: border-box;
  z-index: 3;
}
.data-splitter-x {
  margin: 0 !important;
  right: 0;
}
.value-selector,
.value-selector1 {
  align-self: stretch;
  height: 1.8px;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #fff, rgba(255, 255, 255, 0));
  z-index: 4;
}
.data-joiner-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 18.6px;
  position: relative;
  gap: 44.4px;
}
.dashboard-access1 {
  position: relative;
  font-size: 16.8px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Banshee Pilot";
  color: #fff;
  text-align: left;
  z-index: 5;
  font-family: BansheePilot;
}
.button-free-mint4,
.error-handler-x1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-handler-x1 {
  display: flex;
  justify-content: center;
    padding: 0 11px 0 13.2px;
  margin-top: -32.2px;
}
.button-free-mint4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  border-radius: 9.6px;
  flex-direction: column;
}
.button-dashboard-access1,
.output-formater {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button-dashboard-access1 {
  flex: 1;
  justify-content: flex-start;
  padding: 10px;
  z-index: 2;
}
.output-formater {
  height: 72.5px;
  justify-content: flex-end;
  padding: 0 21.7px 4.5px 21px;
}
.web3-meets1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.28em;
  line-height: 36px;
  z-index: 1;
}
.psychedelic-exploration1 {
  position: relative;
  font-size: 21.6px;
  letter-spacing: 5.98px;
  line-height: 35px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.control-flow-x {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.untitled-design-64-2 {
  position: absolute;
  height: calc(100% - 8px);
  top: 4.5px;
  bottom: 3.5px;
  left: 0;
  max-height: 100%;
  width: 157px;
  object-fit: contain;
  z-index: 1;
}
.untitled-design-42-21 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 101.2px;
  max-height: 100%;
  width: 165px;
  object-fit: cover;
  z-index: 2;
}
.user-interface-x {
  width: 266.2px;
  height: 165px;
  position: relative;
}
.operation-manager {
  width: 375.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 13.5px;
  max-width: 100%;
}
.value-transformer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 67px;
  box-sizing: border-box;
  max-width: 100%;
}
.continuously-expand-to1,
.starting-with-the1 {
  margin: 0;
}
.starting-with-the-container1 {
  align-self: stretch;
  position: relative;
  font-size: 25.9px;
  line-height: 35px;
  text-align: left;
  z-index: 1;
}
.value-comparator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39.7px;
  max-width: 100%;
}
.condition-checker1 {
  flex: 1;
  flex-direction: column;
  padding: 33.2px 0 0;
  box-sizing: border-box;
  margin-left: -693.3px;
}
.condition-checker1,
.data-collector,
.data-reader1,
.data-writer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-collector {
  align-self: stretch;
  flex-direction: row;
  font-size: 22.2px;
}
.data-reader1,
.data-writer {
  flex-direction: column;
}
.data-writer {
  align-self: stretch;
  gap: 31.5px;
}
.data-reader1 {
  width: 1206px;
  padding: 66.3px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Avenir;
}
@media screen and (max-width: 800px) {
  .value-transformer1 {
    padding-left: 33px;
    padding-right: 33px;
    box-sizing: border-box;
  }
  .value-comparator {
    gap: 20px;
  }
  .data-writer {
    gap: 16px;
  }
  .data-reader1 {
    padding-top: 43px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .the-journeybound-ecosystem1 {
    font-size: 19px;
  }
  .blending-web3-token1,
  .journeybound-is-an-container {
    font-size: 19px;
    line-height: 30px;
  }
  .data-joiner-parent {
    gap: 22px;
  }
  .web3-meets1 {
    font-size: 18px;
    line-height: 28px;
  }
  .psychedelic-exploration1 {
    font-size: 17px;
    line-height: 28px;
  }
  .starting-with-the-container1 {
    font-size: 21px;
    line-height: 28px;
  }
  .data-reader1 {
    padding-top: 28px;
    box-sizing: border-box;
  }
}
