.artistry-meets-psychedelics {
  width: 744px;
  height: 31px;
  position: relative;
  letter-spacing: 0.17em;
  font-family: "AG 10,191";
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  z-index: 1;
}
.moonizen-studios1,
.the-atrium-has-partnered-w {
  white-space: pre-wrap;
}
.moonizen-studios1 {
  text-decoration: underline;
}
.moonizen-studios {
  color: inherit;
}
.home-of-the,
.moonizen-genesis {
  white-space: pre-wrap;
}
.moonizen-genesis {
  text-decoration: underline;
}
.moonizen-genesis-collection {
  color: inherit;
}
.on-polygon-and-harnessed-the {
  white-space: pre-wrap;
}
.the-atrium-has-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 38px;
  z-index: 1;
}
.every-creation-is {
  width: 1104px;
  position: relative;
  font-size: 27.1px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.data-sender {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
  max-width: 100%;
  font-size: 28.2px;
}
.untitled-design-56-1-1 {
  width: 844px;
  height: 844px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.merging-creativity-healing {
  height: 37px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 1;
}
.data-iterator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 40px 0 40.5px;
}
.data-matcher {
  width: 619px;
  height: 5px;
  position: relative;
  box-shadow: 0 0 19px #1898b3, 0 0 19px rgba(24, 152, 179, 0.95),
    0 0 19px rgba(24, 152, 179, 0.95);
  border-radius: 100px;
  background-color: #fff;
  max-width: 100%;
  z-index: 1;
}
.data-divider,
.data-retriever {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.data-retriever {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 422px);
  left: calc(50% - 422px);
  padding: 250px 100.5px 161px;
  gap: 391px;
  background-image: url(/public/untitled-design-56-1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 27px;
}
.data-divider {
  align-self: stretch;
  overflow: hidden;
  padding: 20px 156px 68px;
  position: relative;
  gap: 157px;
  text-align: left;
  font-size: 21.3px;
  color: #fff;
  font-family: Avenir;
}
@media screen and (max-width: 800px) {
  .data-sender {
    gap: 29px;
  }
  .data-divider {
    gap: 78px;
    padding-left: 78px;
    padding-right: 78px;
    padding-bottom: 44px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .artistry-meets-psychedelics {
    font-size: 17px;
  }
  .the-atrium-has-container {
    font-size: 23px;
    line-height: 30px;
  }
  .every-creation-is {
    font-size: 22px;
    line-height: 30px;
  }
  .merging-creativity-healing {
    font-size: 22px;
  }
  .data-divider {
    gap: 39px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
