.frame-child5,
.universewithin-1 {
  height: 814px;
  width: 1016px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frame-child5 {
  width: 720px;
  background: linear-gradient(
    180deg,
    rgba(125, 44, 254, 0.2),
    rgba(125, 44, 254, 0)
  );
  z-index: 1;
}
.frame-child6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.82), transparent);
  z-index: 2;
}
.guided-services1 {
  margin: 0;
  /* height: 148px;
  width: 503px; */
  position: relative;
  font-family: AG;
  font-size: inherit;
  letter-spacing: 0.13em;
  line-height: 74px;
  text-transform: lowercase;
  font-weight: 400;
  /* font-family: inherit; */
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.universewithin-1-parent {
  flex: 1;
  background: linear-gradient(
    180deg,
    rgba(125, 44, 254, 0.2),
    rgba(125, 44, 254, 0)
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 70px 20px;
  box-sizing: border-box;
  position: relative;
  min-width: 468px;
  min-height: 814px;
  max-width: 100%;
  z-index: 1;
  background-image: url('../../public/GuidedBanner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.untitled-design-50-1 {
  height: 576px;
  width: 576px;
  position: absolute;
  margin: 0 !important;
  bottom: -129px;
  left: -251.5px;
  object-fit: cover;
}
.the-atrium-has {
  flex: 1;
  position: relative;
  line-height: 44px;
}
.the-atrium-has-partnered-with-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px;
  flex-shrink: 0;
}
.to-offer-real {
  margin: 0;
}
.to-offer-real-container {
  flex: 1;
  position: relative;
  line-height: 43.02px;
}
.to-offer-real-life-psilocybin-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 35px;
  flex-shrink: 0;
}
.polygenic-journey-experience {
  align-self: stretch;
  height: 39px;
  position: relative;
  line-height: 46px;
  display: inline-block;
  flex-shrink: 0;
}
.text {
  height: 224px;
  width: 462px;
  position: absolute;
  margin: 0 !important;
  top: -136px;
  left: calc(50% - 231px);
  text-decoration: underline;
  color: inherit;
  white-space: pre-wrap;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
.brain-brew-1 {
  height: 170px;
  /* flex: 1; */
  /* position: relative; */
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  /* z-index: 2; */
  /* margin-bottom: !important; */
}
.text-parent {
  width: 513px;
  margin: 0 !important;
  position: absolute;
  top: 271px;
  left: 35px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  padding: 49px 0 277px;
  box-sizing: border-box;
  position: relative;
  gap: 5px;
  min-height: 463px;
  z-index: 1;
}
.frame-parent2,
.frame-wrapper,
.untitled-design-50-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.untitled-design-50-1-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0 0 249px;
  box-sizing: border-box;
  min-height: 712px;
}
.journeybound-brings-you,
.psychedelic-experience-and {
  align-self: stretch;
  position: relative;
  line-height: 46px;
  flex-shrink: 0;
}
.for-an-actual {
  flex: 1;
  position: relative;
  line-height: 46px;
  display: inline-block;
  max-width: 100%;
}
.for-an-actual-journey-of-expan-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 70px 0 70.5px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.consciousness-from-brain {
  flex: 1;
  position: relative;
  line-height: 39px;
  display: inline-block;
  max-width: 100%;
}
.consciousness-from-brain-brew-wrapper,
.journeybound-brings-you-an-imm-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.consciousness-from-brain-brew-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 70px 0 70.5px;
  flex-shrink: 0;
}
.journeybound-brings-you-an-imm-parent {
  flex: 1;
  flex-direction: column;
  padding: 0 0 45px;
  gap: 6px;
  z-index: 1;
  margin-left: -583px;
}
.frame-parent1,
.frame-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  flex: 0.8574;
  background-color: #120c1c;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 51.1px 68.5px;
  box-sizing: border-box;
  min-width: 468px;
  font-size: 26.8px;
  font-family: Avenir;
}
.frame-section {
  align-self: stretch;
  align-items: flex-start;
  row-gap: 20px;
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-family: "AG 10,191";
}
@media screen and (max-width: 1200px) {
  .frame-parent1,
  .universewithin-1-parent {
    flex: 1;
  }
  .frame-section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .guided-services1 {
    font-size: 34px;
    line-height: 59px;
  }
  .frame-parent1 {
    padding-top: 33px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .universewithin-1-parent {
    min-width: 100%;
  }
  .frame-wrapper {
    padding-bottom: 162px;
    box-sizing: border-box;
  }
  .consciousness-from-brain-brew-wrapper,
  .for-an-actual-journey-of-expan-wrapper,
  .frame-parent1 {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
  .frame-parent1 {
    padding-left: 34px;
    padding-right: 34px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .guided-services1 {
    font-size: 25px;
    line-height: 44px;
  }
  .the-atrium-has,
  .to-offer-real-container {
    font-size: 21px;
    line-height: 34px;
  }
  .polygenic-journey-experience {
    font-size: 21px;
    line-height: 37px;
  }
  .text {
    font-size: 21px;
  }
  .frame-parent2 {
    padding-top: 32px;
    padding-bottom: 180px;
    box-sizing: border-box;
  }
  .consciousness-from-brain,
  .for-an-actual,
  .journeybound-brings-you,
  .psychedelic-experience-and {
    font-size: 21px;
    line-height: 37px;
  }
  .frame-parent1 {
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
